<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to 'Projects', root_url, :class=>'brand'%>
      <div class="container nav-collapse">
      	<ul class="nav">
      		<LI><a href="#">Whatever</a></LI>
      	</ul>
        <ul class="nav pull-right">
			<%- if not user_signed_in? %>
          	<li><a href="#SignUpDialog" role="button" data-toggle="modal">Sign Up</a></LI>
          	<li class="divider-vertical"></LI>
          	<li class="dropdown">
          	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Sign In <strong class="caret"></strong></a>
          	<div class="dropdown-menu" style="padding:15px; padding-bottom:0px;">
            	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name))  do |f| %>
              		<%= f.label :email, 'E-Mail' %>
              		<%= f.text_field :email, :placeholder=>'Username'%>
              		<%= f.label :password, 'Password'%>
              		<%= f.password_field :password, :placeholder => 'Password' %>
              		<%= button_tag 'Sign In', :type=>'submit', :class=>'btn btn-primary btn-default', :style=>"clear:left; width:100%"%>
            	<%- end %>
          	</div>
          </LI>
          <%- else %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.name %> <strong class="caret"></strong></a>
            <ul class="dropdown-menu">
              <%- if can? :manage, :all %>
              <li class="nav-header">Administration</li>
              <li><%= link_to 'Users', admin_user_index_path %></a></li>
              <li class="divider"></li>
              <%- end %>
              <li><a href="#">Settings</a></li>
              <li class="divider"></li>
              <li><%= link_to 'Sign Out', destroy_user_session_path, :method=>'delete' %></LI>
            </ul>
          </li>
          <%- end %>
        </ul>
      </div>
  	</div>
  </div>
</div>
<%- if !user_signed_in? %>
<%= render 'includes/signup_dialog' %>
<%- end %>