          <div class="accordion" id="accordion_tasks_new">
            <%- for task in @project.tasks.where(:status=>"in_progress").all %>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_tasks_new" href="#<%= task.title.sub(/\s/,'_') %>">
                    <%= task.title %>
                  </a>
                </div>
                <div class="accordion-body collapse" id="<%= task.title.sub(/\s/,'_') %>">
                  <div class="accordion-inner">
                    <div class="span5"><%= task.description %></div>
                    <div class="span1"><%= select_tag(task.status, options_for_select([['New','new'],['In Progress','in_progress'],['Done','done']],task.status),{:class=>'task-status-changer','data-url'=>url_for(update_status_project_task_path(@project,task))}) %></div>
                  </div>
                </div>
              </div>
            <%- end %>
          </div>
 
