<div class="row">
  <div class="span9">
    <div class="accordion" id="accordion_tasks_new" style="height:300px; overflow:auto;">
      <%- for task in @project.tasks.where(:status=>task_status).all do %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_tasks_new" href="#task_<%= task.id %>"><%= task.title %></a>
          </div>
          <div class="accordion-body collapse<%- if session.has_key?('action') and session[:action]=='task_updated' and session[session[:action]]==task.id %>in<%-end%>" id="task_<%= task.id %>">
            <div class="accordion-inner project-task" data-url="<%= url_for [@project,task] %>">
              <div class="row">
                <div class="span2">
                  <ul class="nav nav-tabs nav-stacked">
                    <li class="active"><a href="#description_<%= task.id %>" data-toggle="tab">Details</a></li>
                    <li><a href="#time_records_<%= task.id %>" data-toggle="tab">Time Records</a></li>
                  </ul>
                </div>
                <div class="span6">
                  <div class="tab-content">
                    <div class="tab-pane active" id="description_<%= task.id %>">
                      <div class="row">
                        <div class="span6">
                          <div class="row">
                            <div class="span6">
                              <div class="control-group">
                                Total work time:<br/>
                                <span class="label label-info task_total_work_time"><%= task.total_work_time? %></span>
                             </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="span6">
                              <div class="control-group">
                                Status:<br/>
                                <%= select_tag(:status, options_for_select([['New','new'],['In Progress','in_progress'],['Done','done']],task.status),{:class=>'span3 task-status-changer','data-url'=>url_for(update_status_project_task_path(@project,task))}) %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="time_records_<%= task.id %>">
                      <div class="row">
                        <div class="span6">
                          <%- if task.all_stopped? and task.status != 'done'%>
                            <button class="btn btn-small start_time_record" data-url="<%= url_for(startwork_project_task_path(@project,task))%>">Start Work</button>
                          <%- end %>
                          <table class="table table-condensed table-bordered">
                            <thead>
                              <tr>
                                <th>Work Started At</th>
                                <th>Work Ended At</th>
                                <th>Comment</th>
                              </tr>
                            </thead>
                            <tbody>
                              <%- for timerecord in task.time_records.order(:created_at).reverse_order.limit(5) %>
                                <tr>
                                  <td><%= timerecord.created_at %></td>
                                  <td>
                                    <%- if not timerecord.started %>
                                      <%=timerecord.updated_at %>
                                    <%- end %>
                                    <%- if timerecord.started %>
                                    <button data-url="<%= url_for(stoptimerecord_project_task_time_record_path(@project,task,timerecord))%>" class="btn btn-small stop-time-record">Stop</button>
                                  <%- end %>
                                  </td>
                                  <td>
                                    <%- if timerecord.comment.empty? %>
                                      <a href="#modal_comment_<%= task.id %>_<%= timerecord.id %>" data-toggle="modal">Click here to add a comment</a>
                                    <%- else %>
                                      <a href="#modal_comment_<%= task.id %>_<%= timerecord.id %>" data-toggle="modal" title="Click here to change comment"><%= timerecord.comment %></a>
                                    <%- end %>

                                    <div id="modal_comment_<%= task.id %>_<%= timerecord.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="comment_for_<%=task.id%>_<%=timerecord.id%>" area-hidden="true">
                                      <div class="modal-header">
                                        <h3 id="comment_for_<%= task.id%>_<%=timerecord.id%>">Comment</h3>
                                      </div>
                                      <div class="modal-body">
                                        <div class="control-group">
                                          <%= label_tag('comment_'+task.id.to_s+'_'+timerecord.id.to_s, "Comment", :class=>'control-label') %>
                                          <div class="controls">
                                            <%= text_field_tag('comment_'+task.id.to_s+'_'+timerecord.id.to_s, timerecord.comment, :class=>'span5', :placeholder=>'Comment') %>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                        <button class="btn btn-primary btn-default update_comment_btn" data-dialog-parent="modal_comment_<%=task.id%>_<%=timerecord.id%>" data-update-url="<%= url_for(updatecomment_project_task_time_record_path(@project,task,timerecord))%>" data-dismiss="modal" aria-hidden="true">Save</button>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              <%- end %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%- end %>
    </div>
  </div>
</div>
