<%- content_for :navbar do %>
  <%= render :partial => 'includes/layout_navbar' %>
<%- end %>
<%- content_for :jscript do %>
  <%= javascript_include_tag controller_path %>
<%- end %>
<div class="container">
  <div class="row">
    <div class="page-header span9">
      <h2><%= @project.title %></h2>
      <small>Created At:&nbsp;<span class="date_convert_to_local"><%= @project.created_at.to_datetime.iso8601%></span></small>

    </div>
    <div class="span9">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tasks_in_progress" data-toggle="tab">In Progress</a></li>
        <LI><a href="#tasks_in_new" data-toggle="tab">New</a></LI>
        <LI><a href="#tasks_in_done" data-toggle="tab">Done</a></LI>
      </UL>
      <div class="tab-content">
        <div class="tab-pane active" id="tasks_in_progress"></div>
        <div class="tab-pane" id="tasks_in_new">
          <%= render :partial => 'tasks_in_new' %>
        </div>
        <div class="tab-pane" id="tasks_in_done"></div>
      </div>
    </div>
  </div>
</div>
