<%- content_for :navbar do %>
  <%= render :partial => 'includes/layout_navbar' %>
<%- end %>
<div class="row">
  <div class="span9 page-header">
    <h2>Edit <%= @user.name %><button class="btn btn-primary pull-right">Edit</button></h2>
  </div>
</div>
<%= form_for @user, :url => { :action =>"update" } do |f| %>
  <div class="control-group">
    <%= f.label :name, 'Name', :class=>'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :placeholder=>'Name', :class=>'span6'%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, 'E-Mail', :class=>'control-label'%>
    <div class="controls">
      <%= f.text_field :email, :placeholder => 'E-Mail', :class=>'span6'%>
    </div>
  </div>
<%- end %>
